<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
</head>
<body>
    <%- include('./partials/Navbar') %>
    <div class="container mt-3">
        <form>
        <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title"
            />
        </div>
        </form>
        </div>
    <%- include('./partials/script') %>
</body>
</html>