<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home page</title>
</head>
<body>
    <%- include('./partials/Navbar') %>
    <%- include('./partials/script') %>
</body>
</html>